footer {
    background-color: var(--green);
    min-height: 125px;
    color: var(--white);
    font-size: 20px;
    margin-top: 50px;
    .footerContent {
        justify-content: space-between;
        align-items: center;
        min-height: inherit;
        padding: 10px;
        .footerIcons a {
            margin-right: 10px;
        }
    }
    }

@media only screen and (max-width: 950px) {
    footer>.footerContent {
        justify-content: space-around;
    }
}